@model DasboardViewModel

@{
}
@section styles{

}
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        @*<li><a href=@Url.Content("~/Home/Dashboard")>Dashboard</a></li>*@
                        <li><a href=@Url.Content("~/Home/Home")>Home</a></li>
                        <li><a href=@Url.Content("~/Home/AboutUs")>About Us</a></li>
                        <li><a href=@Url.Content("~/Home/Feedback")>Feedback</a></li>
                        <li><a href=@Url.Content("~/Auth/Logout")>Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Dashboard</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-one">
                    <h2>@Model.TotalContacts</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        </div>

                    </div>
                    <h5>Total Contacts </h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-two">
                    <h2>@Model.TodayTotalTransaction</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>

                    </div>
                    <h5>Today Transaction</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-three">
                    <h2>@Model.TotalmessageSent</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        </div>

                    </div>
                    <h5>Total Messages Sent </h5>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-four">
                    <h2>@Model.SmsUnitBalance</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        </div>

                    </div>
                    <h5>SMS Unit Balance</h5>
                </div>
            </div>

        </div>
        <ui-view class="row" block-ui="staffBlockSection"
             block-ui-pattern="/^\/api\/productapi($|\/).*/">
            <ui-view></ui-view>
        </div>
    </div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; @DateTime.Now.Year Smart Learning | By : <a href="http://www.smartwaresolutions.com/" target="_blank">Design by smartware</a>
            </div>

        </div>
    </div>
</footer>

@section scripts{
    <script src="~/app/controllers/index.js"></script>
}



